 {% load static %}
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static "img/logo-ngd.png" %}" class="logo" alt="Имоти Варна">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li
            {% if '/' == request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'home' %}">Начало</a>
          </li>
          {% comment %} <li
            {% if 'about' in  request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'about' %}">За нас</a>
          </li> {% endcomment %}
          {% comment %} <li
          {% if 'about' in request.path  %}
          class="nav-item  dropdown active mr-3"
        {% else %}
          class="nav-item  dropdown mr-3"
        {% endif %}>
            <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                За нас
            </a>
          
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{% url 'about' %}">GreenHome</a>
              <a class="dropdown-item" href="{% url 'realtors' %}">Екип</a>
              <a class="dropdown-item" href="{% url 'contacts' %}">Контакти</a>
            </div>
          </li> {% endcomment %}
          
      
           {% comment %} <li
          {% if 'listings' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'search' %}">Обяви</a>
        </li> {% endcomment %}
        <li class="nav-item mr-3 {% if 'search' in request.path %}active{% endif %}">
          <a class="nav-link" href="{% url 'search' %}?{{ request.GET.urlencode }}">Обяви</a>
      </li>
          <li
            {% if 'about' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'about' %}">За нас</a>
          </li>
          <li
          {% if 'realtors' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'realtors' %}">Екип </a>
        </li>   
        <li
        {% if 'contacts' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
      >
        <a class="nav-link" href="{% url 'contacts' %}">Контакти </a>
      </li>   
          {% comment %} <li
          {% if 'search' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'search' %}">Търси</a>
        </li> {% endcomment %}
          {% comment %} <li
          {% if 'realtorts' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'realtorts/' %}">Контакти</a>
        </li> {% endcomment %}
        </ul>

        <ul class="navbar-nav ml-auto">
           <!-- Feedback Button -->
           {% if user.is_authenticated %}
           <!-- Show Feedback button if the user is authenticated    data-toggle="modal" data-target="#feedbackModal"-->
           <li {% if 'feedback' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %}>
             <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
           </li>
           {% comment %} <li {% if 'inquiry' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %}>
            <a class="nav-link" href="{% url 'inquiry' %}">Запитване</a>
          </li> {% endcomment %}
        {% else %} 
           <!-- Show Ask button if the user is not authenticated -->
           {% comment %} <li {% if 'inquiry' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3" {% endif %}>
             <a class="nav-link" href="{% url 'inquiry' %}">Запитване</a>
           </li> {% endcomment %}
         {% endif %}
          {% if user.is_authenticated %}
          {% comment %} <li             
          {% if 'dashboard' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}>
            <a class="nav-link" href="{% url 'dashboard' %}">
              
              Табло</a>
          </li> {% endcomment %}
          <li  class='nav-item mr-3'>
            <a href="javascript:{document.getElementById('logout').submit()}" class='nav-link'>
               <i class="fas fa-sign-out-alt"> Изход</i>
            </a>            
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden">
            </form>
          </li>

          {% comment %} {% else %}
          <li            
          {% if 'register' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}
          >
            <a class="nav-link" href="{% url 'register'%}">
              <i class="fas fa-user-plus"></i> Регистрация</a>
          </li>
          <li             
          {% if 'login' in request.path %}
          class="nav-item active mr-3"
        {% else %}
          class="nav-item mr-3"
        {% endif %}>
            <a class="nav-link" href="{% url 'login' %}">
              <i class="fas fa-sign-in-alt"></i>

              Вход</a>
          </li> {% endcomment %}
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>


{% comment %} {% include "feedback/feedback_modal.html" %} {% endcomment %}