{% extends "base.html" %}
{% load static%}
{% block title %}
| За нас
{% endblock %}
{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center animated-section">
        <div class="col-md-12 ">
          <h1 class="display-4 focus-in-expand">Green Home Real Estate</h1>
          {% comment %} <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt, pariatur!</p> {% endcomment %}
        </div>
      </div>
    </div>
  </section>

 <!-- Breadcrumb -->
 <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url "home" %}">
              <i class="fas fa-home"></i> Начало</a>
          </li>
          <li class="breadcrumb-item active"> За нас</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 position-relative d-flex flex-column ">
          <h2>В търсене на перфектния дом</h2>
          <p class="lead mb-5">Ние сме вашите партньори в намирането на идеалния дом.</p>

          <img class='about-img wow animate__animated animate__fadeInLeft' src="{% static "img/office.jpg" %}" alt="">
          {% comment %} <div class="about-text-section text-center wow animate__animated animate__fadeInRight" >
              <p class="mt-4">Нашата агенция се стреми да осигури на клиентите си най-доброто обслужване и най-добрите недвижими имоти на пазара. Работим със собственици на имоти, купувачи и наематели, за да удовлетворим всички техни нужди и изисквания.</p>
              <p class="mt-4">Нашата мисия е да създадем положително преживяване за всеки клиент чрез професионализъм, интегритет и преданост. Специализираме се в управление на имоти, продажба и отдаване под наем на разнообразни имоти, включително жилищни, комерсиални и инвестиционни.</p>
          </div>
        </div> {% endcomment %}
         <p class="mt-4">Нашата агенция се стреми да осигури на клиентите си най-доброто обслужване и най-добрите недвижими имоти на пазара. Работим със собственици на имоти, купувачи и наематели, за да удовлетворим всички техни нужди и изисквания.</p>
          {% comment %} <p class="mt-4">Нашата мисия е да създадем положително преживяване за всеки клиент чрез професионализъм, интегритет и преданост. Специализираме се в управление на имоти, продажба и отдаване под наем на разнообразни имоти, включително жилищни, комерсиални и инвестиционни.</p>
          <p class="mt-4">С нашия богат опит и експертно знание в индустрията, предлагаме персонализирани решения, които отговарят на специфичните изисквания на всеки клиент. Нашата цел е да бъдем вашите надеждни партньори в недвижимата сфера, предоставяйки надеждни и иновативни услуги.</p> {% endcomment %}
          <p class="my-5">Независимо дали сте на пазара за покупка, продажба или наем на имот, ние сме тук, за да ви подкрепим на всеки стъпка от пътя. Разчитайте на нас за професионализъм, стратегическо мислене и ангажираност към вашите цели в сферата на недвижимите имоти.</p> 
        </div>
        {% comment %} <div class="col-md-4">
          {% if mvp_realtors %}
          {% for realtor in mvp_realtors %}
          <div class="card">
              <img
                class="card-img-top"
                src="{{realtor.photo.url }}"
                alt="Seller of the month"
                style='width: 100%; height:auto;'
              />
          <div class="card-body">
              <h5 class="card-title">Брокер на месеца</h5>
              <h6 class="text-secondary">{{realtor.name}}</h6>
              <p class="card-text">
               {{realtor.description}}
              </p>
            </div>
  
          {% endfor %}
          {% endif %}
          </div>
        </div> {% endcomment %}
      </div>
    </div>
  </section>


  {% comment %} <section id="about" class="py-4">
    <div class="container">
      <div class="row ">
        <div>
          <h2>В търсене на перфектния дом</h2>
          <p class="lead">Ние сме вашите партньори в намирането на идеалния дом.</p>
          <div class="col-lg-12  wow animate__animated animate__fadeIn" data-wow-delay="0.2s">
            <div class="d-flex flex-column ">
                <img class="img-fluid w-75  about-img" src="{% static 'img/office.jpg' %}" alt="img-about"> 
                <div class="about-text-section text-center align-self-end" ">
                  <p class="mt-4">Нашата агенция се стреми да осигури на клиентите си най-доброто обслужване и най-добрите недвижими имоти на пазара. Работим със собственици на имоти, купувачи и наематели, за да удовлетворим всички техни нужди и изисквания.</p>
                  <p class="mt-4">Нашата мисия е да създадем положително преживяване за всеки клиент чрез професионализъм, интегритет и преданост. Специализираме се в управление на имоти, продажба и отдаване под наем на разнообразни имоти, включително жилищни, комерсиални и инвестиционни.</p>
                        </div>
                </div>
            </div>
        </div>
        
         
      </div>
    </div>
  </section> {% endcomment %}
  
<!-- Team --> 

<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center animated-section">
      <div class="col-md-12 ">
        <h2 class="display-4 animated-section">Нашият екип е винаги насреща</h2>
        <h4 class='animated-section'>Нашата цел е да осигурим най-доброто обслужване и решения за вас!</h4>
        <hr>
        <a href="{% url 'realtors' %}" class="btn btn-secondary text-white btn-lg animated-section">Вижте нашите брокери</a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-xxl">
    <div class="container">
        {% for key, section in sections.items %}
        <div class="row  py-5 my-3">
            {% if forloop.counter0|divisibleby:2 %}
            <!-- For even indices: image on the left -->
            <div class="col-lg-5 wow animate__animated animate__fadeInLeft" data-wow-delay="0.1s">
                <img style='box-shadow: -20px -20px 0px 5px #4c9e89; border-radius: 20px;' src="{% static section.image %}" alt="{{ section.title }}">
            </div>
            <div class="col-lg-6 wow animate__animated animate__fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <h2 class="display-6 ">{{ section.title }}</h2>
                    <hr>
                </div>
                <p class="mb-4">{{ section.description }}</p>
            </div>
            {% else %}
            <!-- For odd indices: image on the right -->
            <div class="col-lg-6 wow animate__animated animate__fadeIn" data-wow-delay="0.5s">
                <div class="section-title">
                    <h2 class="display-6">{{ section.title }}</h2>
                    <hr>
                </div>
                <p class="mb-4">{{ section.description }}</p>
            </div>
            <div class="col-lg-5 wow animate__animated animate__fadeInRight" data-wow-delay="0.1s">
                <img style='box-shadow: 20px -20px 0px 5px #4c9e89;  border-radius: 20px;' src="{% static section.image %}" alt="{{ section.title }}">
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
  </div>
</section>


<section id="services" class="py-5 bg-secondary text-white">
  <div class="container text-center">
    <h2 class="animated-section display-4">Цели</h2>
    <h4 class='animated-section mb-3'>Стремим се да обхванем повечето аспекти в бизнеса с недвижимите имоти!</h4>
    <div class="row text-center ">
      <div class="col-md-4 wow animate__animated animate__fadeInUp" data-wow-delay='0.1s'>
        <i class="fa-solid fa-person-circle-question  fa-4x mr-4"></i>
        {% comment %} <i class="fa-solid fa-clipboard-question fa-4x mr-4"></i> {% endcomment %}
        <hr>
        <h3 >Консултантска дейност</h3>
        <p>Купувате или продавате?</p>
      </div>
      <div class="col-md-4 wow animate__animated animate__fadeInUp " data-wow-delay='0.2s'>
        <i class="fa-solid fa-hammer fa-4x mr-4"></i>
        <hr>
        <h3>Строителна дейност</h3>
        <p>Собствени инвестиционни проекти.</p>
      </div>
      
      <div class="col-md-4 wow animate__animated animate__fadeInUp " data-wow-delay='0.4s'>
        {% comment %} <i class="fas fa-route fa-4x mr-4"></i> {% endcomment %}
        <i class="fa-regular fa-money-bill-1 fa-4x mr-4"></i>
        <hr>
        <h3>Директно изкупуване</h3>
        <p>Можем директно да закупим имота Ви, с което ще Ви спестим много време, напразни огледи, главоболие.</p>
      </div>
    </div>
  </div>
</section>
<!-- Work -->
{% comment %} <section id="work" class=" text-center py-5">
    <h2 class="display-4 animated-section">Работим за вас</h2>
    <h4 class='animated-section'>Нашата цел е да осигурим най-доброто обслужване и решения за вас!</h4>
    <hr>
    <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg animated-section">Вижте нашите оферти</a>
  </section> {% endcomment %}

{% comment %} --------------------------------------------------------------------------------- {% endcomment %}
<!-- Team --> 




{% comment %} <section id="work" class="text-center">
  <h2 class="display-4 animated-section">Нашият екип е винаги насреща</h2>
  <h4 class='animated-section'>Нашата цел е да осигурим най-доброто обслужване и решения за вас!</h4>
  <hr>
  <a href="{% url 'realtors' %}" class="btn btn-secondary text-white btn-lg animated-section">Вижте нашите брокери</a>
</section> {% endcomment %}



{% comment %} <section id="team" class="py-5">
  <div class="container">
      <h2 class="text-center focus-in-expand ">Нашия екип</h2>
    <button class="pre-btn custom-carousel-icon" >
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#48752C">
        <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/>
      </svg>
    </button>
    <button class="nxt-btn custom-carousel-icon" >
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#48752C">
        <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/>
      </svg>
    </button>
    <div class="team-container text-center">
      {% if realtors %}
      {% for realtor in realtors %}
      <div class="team-card">
        <img src="{{ realtor.photo.url }}" alt="{{ realtor.name }}" class="rounded-circle mb-3" />
        <h4>{{ realtor.name }}</h4>
        <p class="text-success">
          {% if realtor.is_mvp %}
              <i class="fas fa-award text-success mb-3"></i> Брокер
          {% else %}
              <p class="text-success">Брокер</p>
          {% endif %}
      </p>
        <hr />
        <p><i class="fas fa-phone"></i> +{{ realtor.phone }}</p>
        <p><i class="fas fa-envelope-open"></i>  {{ realtor.email }}</p>
        <p><i class="fas fa-house"></i>  {{ realtor.listing_count }}</p>
        <a href="{% url 'realtor_listings' realtor.id %}" class="btn btn-primary">Виж обявите</a>

      </div>
      {% endfor %}
      {% else %}
      <div class="col-12">
        <p>Няма брокери</p>
      </div>
      {% endif %}
    </div>
  </div>
</section> {% endcomment %}




{% comment %} ----------------------------------------------------------------------------------- {% endcomment %}

{% endblock %}

