
{% extends "base.html" %}
{% load static%}
{% load humanize %}
{% block content %}
<style>

  .common-ellipsis {
    white-space: nowrap;       /* Prevent text from wrapping to the next line */
    overflow: hidden;          /* Hide overflowed text */
    text-overflow: ellipsis;   /* Display ellipsis when text overflows */
    width: 100%;              /* Adjust the width to limit the text, this can be changed as needed */
    display: inline-block;     /* Ensure the width takes effect */
}
</style>
  <!-- Showcase -->
  <section id="showcase">
    <!--Alerts-->
    {% include "partials/_alerts.html" %}
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5 slide-in-bottom">
          <h1 class="display-4 mb-4 focus-in-expand">
            Търсенето на имоти стана толкова лесно
          </h1>
          <p class="lead animation slide-in-right"
          
          >Успехът в недвижимите имоти зависи от грижата и ценността, които отдаваме на клиента. Ние сме тук, за да ви помогнем във всеки етап.</p>
          <div class="search">
            <form action="{% url 'search' %}" method="get">
              <div class="form-row">
                  <!-- City -->
                  <div class="col-md-4 mb-3">
                      <label class="sr-only">City</label>
                      <select name="city" class="form-control">
                          <option value="" {% if not values.city %}selected{% endif %}>Град</option>
                          {% for city in city_choices %}
                          <option value="{{ city }}" {% if city == values.city %}selected{% endif %}>{{ city }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <!-- State Dropdown -->
                  <div class="col-md-4 mb-3">
                      <label class="sr-only">State</label>
                      <div class="dropdown form-control p-0">
                          <button class="btn btn-default dropdown-toggle w-100 text-left" type="button" data-toggle="dropdown">
                              <span class="dropdown-text-state">
                                  {% if values.state %}
                                  ({{ values.state|length }}) Квартал 
                                  {% else %}
                                      Квартал
                                  {% endif %}
                              </span>
                              <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu w-100" style='z-index: 10000;'>
                              <li><a href="#"><label class="m-0 w-100"><input type="checkbox" class="selectall-state" /><span class="select-text-state">Избери всички</span></label></a></li>
                              <li class="divider"></li>
                              {% for state in state_choices %}
                              <li>
                                  <a href="#">
                                      <label class="m-0 w-100">
                                          <input name="state[]" type="checkbox" class="option-state" value="{{ state }}" {% if state in values.state %}checked{% endif %} />
                                          {{ state }}
                                      </label>
                                  </a>
                              </li>
                              {% endfor %}
                          </ul>
                      </div>
                  </div>
 <!-- Building Type Dropdown -->
 <div class="col-md-4 mb-3">
  <label class="sr-only">Building Type</label>
  <div class="dropdown form-control p-0">
      <button class="btn btn-default dropdown-toggle w-100 text-left" type="button" data-toggle="dropdown">
          <span class="dropdown-text">
              {% if values.type_choice %}
              ({{ values.type_choice|length }}) Тип имот 
              {% else %}
                  Тип имот
              {% endif %}
          </span>
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu w-100" style='z-index: 10000;'>
          <li><a href="#"><label class="m-0 w-100"><input type="checkbox" class="selectall" /><span class="select-text">Избери всички</span></label></a></li>
          <li class="divider"></li>
          {% for type_key, type_value in type_choice %}
          <li>
              <a href="#">
                  <label class="m-0 w-100">
                      <input name="type_choice[]" type="checkbox" class="option justone" value="{{ type_key }}" {% if type_key in values.type_choice %}checked{% endif %} />
                      {{ type_value }}
                  </label>
              </a>
          </li>
          {% endfor %}
      </ul>
  </div>
</div>
              </div>
              <!-- Submit Button -->
              <button class="btn btn-secondary btn-block mt-4" type="submit">Търси</button>
          </form>
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings ">
    <div class="container">
      <h3 class="text-center mb-3 py-5 focus-in-expand">Най-нови предложения</h3>
      <div class="row ">
        {% if listings %}
        {% for listing in listings %}
        <div class="col-md-6 col-lg-4 mb-4 scroll-animated">
          <a href="{% url 'current_listing' listing.id %}" class="card-link">
          <div class="card listing-preview ">
            {% with first_photo=listing.photos.all|first %}
            <img class="card-img-top" src="{% if listing.photo_main %}{{ listing.photo_main.url }}{% elif first_photo %}{{ first_photo.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}" alt="">
        {% endwith %}
            {% comment %} <img class="card-img-top" src="{{ listing.photo_main.url }}" alt=""> {% endcomment %}
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">{{listing.currency}} {{listing.price | intcomma }}</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary common-ellipsis">{% if listing.title %}
                  {{ listing.title }}
              {% else %}
                 ID: {{ listing.uid }}
              {% endif %}
            </h4>
                <p class='common-ellipsis'>
                  <i class="fas fa-map-marker text-secondary "></i> {{listing.state}}, {{listing.city}}</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-12">
                    <i class="fas fa-bed"></i> Тип: {{ listing.type_choice }}</div>
                {% comment %} <div class="col-12">
                    <i class="fas fa-bath"></i> Бани: {{ listing.bathrooms }}</div> {% endcomment %}
                <div class="col-12">
                    <i class="fas fa-th-large"></i> Площ: {{ listing.sqft }} m²</div>
            </div>

              <hr>
              <a href="{% url 'current_listing' listing.id %}" class="btn btn-primary btn-block">Повече информация</a>
            </div>
          </div></a>
        </div>
      {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>Няма обяви</p>
          </div>
        {% endif %}




      </div>
    </div>
  </section>


<section id="services" >
  <div class="container my-5">
    <h3 class="text-center mb-3 py-5 focus-in-expand text-white about-title" >Кои сме ние ?</h3>
    <div class="row g-0">
    <div class="col-lg-12  wow animate__animated animate__fadeInLeft my-4" data-wow-delay="0.1s">
      <div class="p-5  about-card text-center text-white">
        <p style="font-weight: 400;">Опитни специалисти с над 13г. в сферата на недвижимите имоти.</p>
      </div>
    </div>
    <div class="col-lg-12   wow animate__animated animate__fadeInRight my-4" data-wow-delay="0.3s">
      <div class="p-5  about-card text-center text-white">
        <p style="font-weight: 400;" >С личен подход и професионално обслужване сме направили 1000+ човека наши доволни клиенти.</p>
      </div>
    </div>
    <div class="col-lg-12  wow animate__animated animate__fadeInLeft my-4" data-wow-delay="0.5s">
      <div class="p-5 about-card text-center text-white">
        <p class='font-weight: 400;' >Oсвен експерти в посредничеството при сделки с недвижими имоти, сме създали и строително-инвестиционното дружество Green Home Invest, което се занима с цялостно проектиране, изграждане и проджба на къщи и жилищни сгради.</p>
      </div>
    </div>
  </div>
</section>




<section id=" ">
  <div class="container my-5 col-md-6">
<div class=" py-5 wow animate__animated animate__fadeInUp">
  <h3 class="text-center wow animate__animated animate__fadeInUp ">Оцени имота си</h3>
  <p class=" text-center"
  
  >Вземи безплатна оферта сега. Без ангажименти.</p>
  <div class="search ">
    <form method="POST" action="{% url 'inquiry' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-row">
          <div class="col-md-6 mb-3  wow animate__animated animate__fadeInLeft">
              <label class="sr-only">Име и фамилия</label>
              <input type="text" name="name" class="form-control" placeholder="Име и фамилия" required>
          </div>
          <div class="col-md-6 mb-3  wow animate__animated animate__fadeInRight">
              <label class="sr-only">Телефон</label>
              <input type="text" name="phone" class="form-control" placeholder="Телефон" required>
          </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3  wow animate__animated animate__fadeInLeft">
          <label class="sr-only">Тип на имота</label>
          <select name="type_property" class="form-control" >
            <option value="" disabled selected>Изберете тип на имота</option>
            {% for value, label in property_choices %}
                <option value="{{ value }}" {% if value == request.POST.type_property %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="col-md-6 mb-3  wow animate__animated animate__fadeInRight">
          <label class="sr-only">Град</label>
          <input type="text" name="city" class="form-control" placeholder="Град" >
      </div>
    </div>
    <div class="form-row">
        <div class="col-md-12 mb-3" >
            <label class="sr-only">Съобщение</label>
            <textarea name="message" class="form-control" placeholder="Съобщение" rows="3" ></textarea>
        </div>
    </div>
{% comment %} UPLOAD MULTIPLE IMAGES {% endcomment %}
<!-- Upload Multiple Images -->
<div class="form-row position-relative file-input-container">
<div class="col-md-12 mb-2 ">
<div class="container text-center">
<!-- Button to trigger file input -->
<button id="upload-button" type="button">Качи снимки</button>

<!-- Actual file input (hidden) -->
<input type="file" id="image-upload" name="images" accept="image/*" multiple> <!-- Correct name="images" -->
<div id="image-preview" class='mb-2 text-center'></div>
</div>
</div>
</div>

    <!-- Agree to Terms Checkbox -->
    <div class="form-row">
      <div class="col-md-12 mb-2 text-center">
          <div class="form-check">
              <input class="form-check-input" type="checkbox" name="agree" id="agree" required>
              <label class="form-check-label " for="agree">
                  Съгласен съм с <a href="{% url 'terms' %}" target="_blank" class="  text--success: #20c997;">Условията</a>
              </label>
          </div>
      </div>
    </div>

      <button class="btn btn-secondary btn-block mt-3" type="submit">Изпрати</button>
  </form>
  </div>
</div> 
</section>


{% endblock %}