
{% extends "base.html" %}
{% load static%}
{% load humanize %}
{% block content %}
<style>

  .common-ellipsis {
    white-space: nowrap;       /* Prevent text from wrapping to the next line */
    overflow: hidden;          /* Hide overflowed text */
    text-overflow: ellipsis;   /* Display ellipsis when text overflows */
    width: 100%;              /* Adjust the width to limit the text, this can be changed as needed */
    display: inline-block;     /* Ensure the width takes effect */
}
</style>
  <!-- Showcase -->
  <section id="showcase">
    <!--Alerts-->
    {% include "partials/_alerts.html" %}
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5 slide-in-bottom">
          <h1 class="display-4 mb-4 focus-in-expand">
            Търсенето на имоти стана толкова лесно
          </h1>
          <p class="lead animation slide-in-right"
          
          >Успехът в недвижимите имоти зависи от грижата и ценността, които отдаваме на клиента. Ние сме тук, за да ви помогнем във всеки етап.</p>
          <div class="search">
            <form action="{% url 'search' %}" method="get">
              <div class="form-row">
                  <!-- City -->
                  <div class="col-md-4 mb-3">
                      <label class="sr-only">City</label>
                      <select name="city" class="form-control">
                          <option value="" {% if not values.city %}selected{% endif %}>Град</option>
                          {% for city in city_choices %}
                          <option value="{{ city }}" {% if city == values.city %}selected{% endif %}>{{ city }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <!-- State Dropdown -->
                  <div class="col-md-4 mb-3">
                      <label class="sr-only">State</label>
                      <div class="dropdown form-control p-0">
                          <button class="btn btn-default dropdown-toggle w-100 text-left" type="button" data-toggle="dropdown">
                              <span class="dropdown-text-state">
                                  {% if values.state %}
                                  ({{ values.state|length }}) Квартал 
                                  {% else %}
                                      Квартал
                                  {% endif %}
                              </span>
                              <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu w-100" style='z-index: 10000;'>
                              <li><a href="#"><label class="m-0 w-100"><input type="checkbox" class="selectall-state" /><span class="select-text-state">Избери всички</span></label></a></li>
                              <li class="divider"></li>
                              {% for state in state_choices %}
                              <li>
                                  <a href="#">
                                      <label class="m-0 w-100">
                                          <input name="state[]" type="checkbox" class="option-state" value="{{ state }}" {% if state in values.state %}checked{% endif %} />
                                          {{ state }}
                                      </label>
                                  </a>
                              </li>
                              {% endfor %}
                          </ul>
                      </div>
                  </div>
 <!-- Building Type Dropdown -->
 <div class="col-md-4 mb-3">
  <label class="sr-only">Building Type</label>
  <div class="dropdown form-control p-0">
      <button class="btn btn-default dropdown-toggle w-100 text-left" type="button" data-toggle="dropdown">
          <span class="dropdown-text">
              {% if values.type_choice %}
              ({{ values.type_choice|length }}) Тип имот 
              {% else %}
                  Тип имот
              {% endif %}
          </span>
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu w-100" style='z-index: 10000;'>
          <li><a href="#"><label class="m-0 w-100"><input type="checkbox" class="selectall" /><span class="select-text">Избери всички</span></label></a></li>
          <li class="divider"></li>
          {% for type_key, type_value in type_choice %}
          <li>
              <a href="#">
                  <label class="m-0 w-100">
                      <input name="type_choice[]" type="checkbox" class="option justone" value="{{ type_key }}" {% if type_key in values.type_choice %}checked{% endif %} />
                      {{ type_value }}
                  </label>
              </a>
          </li>
          {% endfor %}
      </ul>
  </div>
</div>

              </div>
          
              <div class="form-row">
                  <!-- Min Price -->
                  {% comment %} <div class="col-md-3 mb-3">
                      <label class="sr-only">Минимална цена</label>
                      <input type="number" name="min_price" class="form-control" placeholder="Минимална цена" value="{{ values.min_price }}">
                  </div>
                  <!-- Max Price -->
                  <div class="col-md-3 mb-3">
                      <label class="sr-only">Максимална цена</label>
                      <input type="number" name="max_price" class="form-control" placeholder="Максимална цена" value="{{ values.max_price }}">
                  </div> {% endcomment %}

                                             
{% comment %}                   
                                                  <!-- Building Type Structure Dropdown -->
                                                  <div class="col-md-3 mb-3">
                                                      <label class="sr-only">Building Structure Type</label>
                                                      <div class="dropdown form-control p-0">
                                                          <button class="btn btn-default dropdown-toggle w-100 text-left" type="button" data-toggle="dropdown">
                                                              <span class="dropdown-text-building-type">
                                                                  {% if values.building_type %}
                                                                  ({{ values.building_type|length }}) Тип на сградата
                                                                  {% else %}
                                                                  Тип на сградата
                                                                  {% endif %}
                                                              </span>
                                                              <span class="caret"></span>
                                                          </button>
                                                          <ul class="dropdown-menu w-100" style='z-index: 10000;'>
                                                              <li>
                                                                  <a href="#">
                                                                      <label class="m-0 w-100">
                                                                          <input type="checkbox" class="selectall-building-type" />
                                                                          <span class="select-text-building-type">Избери всички</span>
                                                                      </label>
                                                                  </a>
                                                              </li>
                                                              <li class="divider"></li>
                                                              {% for type_key, type_value in building_type_choices %}
                                                              <li>
                                                                  <a href="#">
                                                                      <label class="m-0 w-100">
                                                                          <input name="building_type[]" type="checkbox" class="option-building-type" value="{{ type_key }}" {% if type_key in values.building_type %}checked{% endif %} />
                                                                          {{ type_value }}
                                                                      </label>
                                                                  </a>
                                                              </li>
                                                              {% endfor %}
                                                          </ul>
                                                      </div>
                                                  </div> {% endcomment %}
                                              </div>


              <div class="form-row">

                  {% comment %} <!-- Keywords -->
                  <div class="col-md-12 mb-3">
                      <label class="sr-only">Keywords</label>
                      <input type="text" name="keywords" class="form-control" placeholder="Ключови думи(гараж,басейн,двор,име на брокер...)" value="{{ values.keywords }}">
                  </div>
     {% endcomment %}

              </div>
              <!-- Submit Button -->
              <button class="btn btn-secondary btn-block mt-4" type="submit">Търси</button>
          </form>
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings ">
    <div class="container">
      <h3 class="text-center mb-3 py-5 focus-in-expand">Най-нови предложения</h3>
      <div class="row ">
        {% if listings %}
        {% for listing in listings %}
        <div class="col-md-6 col-lg-4 mb-4 scroll-animated">
          <a href="{% url 'current_listing' listing.id %}" class="card-link">
          <div class="card listing-preview ">
            {% with first_photo=listing.photos.all|first %}
            <img class="card-img-top" src="{% if listing.photo_main %}{{ listing.photo_main.url }}{% elif first_photo %}{{ first_photo.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}" alt="">
        {% endwith %}
            {% comment %} <img class="card-img-top" src="{{ listing.photo_main.url }}" alt=""> {% endcomment %}
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">{{listing.currency}} {{listing.price | intcomma }}</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary common-ellipsis">{% if listing.title %}
                  {{ listing.title }}
              {% else %}
                 ID: {{ listing.uid }}
              {% endif %}
            </h4>
                <p class='common-ellipsis'>
                  <i class="fas fa-map-marker text-secondary "></i> {{listing.state}}, {{listing.city}}</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-12">
                    <i class="fas fa-bed"></i> Тип: {{ listing.type_choice }}</div>
                <div class="col-12">
                    <i class="fas fa-bath"></i> Бани: {{ listing.bathrooms }}</div>
                <div class="col-12">
                    <i class="fas fa-th-large"></i> Площ: {{ listing.sqft }} m²</div>
            </div>

              <hr>
              <a href="{% url 'current_listing' listing.id %}" class="btn btn-primary btn-block">Повече информация</a>
            </div>
          </div></a>
        </div>
      {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>Няма обяви</p>
          </div>
        {% endif %}




      </div>
    </div>
  </section>


<section id="services" >
  <div class="container my-5">
    <h3 class="text-center mb-3 py-5 focus-in-expand text-white about-title" >Кои сме ние ?</h3>
    <div class="row g-0">
    <div class="col-lg-12  wow animate__animated animate__fadeInLeft my-4" data-wow-delay="0.1s">
      <div class="p-5  about-card text-center">
        <p style="font-weight: 500;">Опитни специалисти с над 13г. в сферата на недвижимите имоти.</p>
      </div>
    </div>
    <div class="col-lg-12   wow animate__animated animate__fadeInRight my-4" data-wow-delay="0.3s">
      <div class="p-5  about-card text-center ">
        <p style="font-weight: 500;" >С личен подход и професионално обслужване сме направили 1000+ човека наши доволни клиенти</p>
      </div>
    </div>
    <div class="col-lg-12  wow animate__animated animate__fadeInLeft my-4" data-wow-delay="0.5s">
      <div class="p-5 about-card text-center text-white">
        <p class='about-paragraph' >Oсвен експерти в посредничеството при сделки с недвижими имоти, сме създали и строително-инвестиционното дружество Green Home Invest, което се занима с цялостно проектиране, изграждане и проджба на къщи и жилищни сгради.</p>
      </div>
    </div>
  </div>
</section>

{% comment %} <div class="container-xxl  ">
  <div class="container">
  
      <div class="row g-5 py-5 my-3">
          <div class="col-lg-5 wow  animate__animated" data-wow-delay="0.1s">
            <div class="p-5 contact-form text-center text-uppercase">
              <p>С личен подход и професионално обслужване сме направили 1000+ човека наши доволни клиенти</p>
            </div>
          </div>
          
      </div>
  </div>
</div> {% endcomment %}
{% comment %} <div class="container-xxl py-4 mt-4">
  <div class="container my-5">
      <div class="row g-0">
          <div class="col-lg-6 wow animate__animated animate__fadeInLeft" data-wow-delay="0.1s">
              <div class="p-5 contact-form">
                  <a href="{% url 'inquiry' %}" class="btn contact-form-button text-primary py-2 px-4 d-inline-block">Свържи се с нас</a>

                  <h1 class="text-uppercase mb-4">Имаш въпроси? Свържи се с нас!</h1>
                  
                  <div class="mb-3">
                      <a href="tel:+359897245924"><i class="icon fa fa-phone"></i> (359) 897-245-924</a>
                  </div>
                  <div class="mb-3">
                      <a href="tel:+359883497577"><i class="icon fa fa-phone"></i> (359) 883-497-577</a>
                  </div>
                  <div class="mb-3">
                      <a href="mailto:greenhomeinvestltd@gmail.com"><i class="icon fa fa-envelope"></i> greenhomeinvestltd@gmail.com</a>
                  </div>
                  <div class="mb-3">
                      <i class="icon fa fa-map-marker"></i> Георги Сава Раковски 4, Варна
                  </div>
                  <div class="mb-3">
                      <i class="fa-regular fa-clock"></i> Понеделник-Петък: 09:00 - 17:00
                  </div>
              </div>
          </div>
          <div class="col-lg-6 wow animate__animated animate__fadeInRight" data-wow-delay="0.2s">
              <div class="h-100" style="min-height: 400px;">
                  
                  <iframe class="google-map w-100 h-100"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.322386452914!2d27.916245076612622!3d43.207456381145384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a4540a33e60407%3A0x764c8e6c48ec97fb!2sVarna%20CenterOdesos%2C%20ul.%20%22Georgi%20S.%20Rakovski%22%204%2C%209002%20Varna!5e1!3m2!1sen!2sbg!4v1727859213172!5m2!1sen!2sbg"
                  frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0" 
                  style="border: 0; width: 100%; height: 100%;"></iframe>
              
              </div>
          </div>
      </div>
  </div>
</div> {% endcomment %}

  {% comment %} <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center scroll-animated">
        <div class="col-md-4 animated-section">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3 >Консултации</h3>
          <p>Предлагаме ви персонализирани стратегии и професионални съвети, насочени към постигане на вашите цели в недвижимата сфера.</p>
        </div>
        <div class="col-md-4 animated-section">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Управление на имоти</h3>
          <p>Специализираме се в управлението на недвижими имоти, осигурявайки ефективно администриране, поддръжка и максимизиране на стойността на вашия имотен портфейл.</p>
        </div>
        <div class="col-md-4 animated-section">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Отдаване под наем и продажба</h3>
          <p>Предоставяме професионално отдаване под наем и ефективна продажба на недвижими имоти. За собствениците осигуряваме безгрижно управление и качествени наемници, а за покупателите - успешно пласиране на имотите на пазара и ефективни транзакции.</p>
        </div>
      </div>
    </div>
  </section> {% endcomment %}

{% endblock %}