{% extends "base.html" %}
{% load humanize %}
{% load static%}
{% block metadescription %}
<meta name="description" content="{{ listing.title }} - {{ listing.description|truncatewords:25 }}">
  
<!-- Open Graph Metadata -->
<meta property="og:title" content="{{ listing.title|default:'Real Estate Listing' }}" />
<meta property="og:description" content="{{ listing.description|truncatewords:25|default:'Check out this amazing property!' }}" />

<!-- Check for primary or fallback image -->
{% with first_photo=listing.photos.all|first %}
<meta property="og:image" content="{% if listing.image %}{{ listing.image.url }}{% elif first_photo %}{{ first_photo.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}" />
{% endwith %}

<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="article" />
 {% endblock %}
{% block title %}
|{% if listing.title %} {{ listing.title }} 
{% elif listing.estate_code %}
  {{ listing.estate_code }}
{% else %}
  {{ listing.uid }}
{% endif %}
{% comment %} ID:{{listing.uid}} {% endcomment %}
{% endblock %}
{% block content %}
<style>
  /* Set a fixed height for the carousel */
    .listing-carousel  {
    height: 60vh; /* You can adjust this value */
    overflow: hidden;
  }

  /* Ensure the images fit within the carousel height */
    .listing-carousel .item  img {
    height:55vh;
    object-fit: contain; /* Maintain aspect ratio while covering the area */
    width: 100%; /* Make the image take the full width */
  }
  /* Media query for mobile devices (screens smaller than 768px) */
  @media (max-width: 768px) {
     .listing-carousel  {
      height: 60vh; /* 70% of the viewport height on mobile */
    } 

   .listing-carousel .item img {
      height:55vh; /* Limit image height to 70% of viewport height */
    }
  }
  
</style> 

<section id="showcase-inner" class="py-5 text-white">
    <div class="container wow animate_fadeInup">
      <div class="row text-center wow animate__animated animate__fadeInUp">
        <div class="col-md-12">
          <h1 class="display-4">{{listing.title}}!</h1> 
          <p class="lead">
            <i class="fas fa-map-marker"></i> {{listing.state}},{{listing.city}}</p>
        </div>
      </div>
    </div>
  </section>
<!--Alerts-->
{% include "partials/_alerts.html" %}
  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Начало</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'listings' %}">Обяви</a>
          </li>
          <li class="breadcrumb-item active">
            {{ listing.title }} 
            <i class="fa-solid fa-hashtag"></i>
            {% if listing.estate_code or listing.estate_code == 0 %}
              {{ listing.estate_code }}
            {% else %}
              {{ listing.uid }}
            {% endif %}
          </li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="{% url 'listings' %}" class="btn btn-light mb-4">Обратно към обяви</a>
      <div class="row">
        <div class="col-md-9">

          <!-- Carousel for listing.photos.all -->
          <div class="owl-carousel owl-theme listing-carousel ">
            {% for photo in listing.photos.all %}
            <div class="item">
                <a href="{{ photo.image.url }}" data-lightbox="property-images">
                    <img src="{{ photo.image.url }}" alt="Photo {{ forloop.counter }}" class="img-fluid">
                </a>
            </div>
            {% endfor %}
          </div>
        
          <!-- Fields -->
          <div class="row mb-5 fields scroll-animated">
            {% comment %} Description fields  left{% endcomment %}
                <div class="col-md-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-secondary">
                      <i class="fas fa-money-bill-alt"></i> Цена:
                      <span class="float-right">{{listing.currency}} {{listing.price | intcomma}}</span>
                    </li>
                    <li class="list-group-item text-secondary">
                      <i class="fas fa-bed"></i> Tun:
                      <span class="float-right">{{listing.type_choice}}</span>
                    </li>
                    <li class="list-group-item text-secondary">
                      <i class="fa-solid fa-bathtub"></i> Бани:
                      <span class="float-right">{{listing.bathrooms}}</span>
                    </li>
                    <li class="list-group-item text-secondary">
                      <i class="fa-solid fa-toilet"></i> Tоалетни:
                      <span class="float-right">{{listing.toilet}}</span>
                    </li>
                  </ul>
                </div>

            {% comment %} Description fields  right{% endcomment %}
                <div class="col-md-6">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-secondary">
                      <i class="fas fa-th-large"></i> Площ:
                      <span class="float-right">{{listing.sqft}} m²</span>
                    </li>
                    <li class="list-group-item text-secondary">
                      <i class="fa-solid fa-hashtag"></i> ID на имота:
                      <span class="float-right">    {% if listing.estate_code or listing.estate_code == 0 %}
                        {{ listing.estate_code }}
                      {% else %}
                        {{ listing.uid }}
                      {% endif %}</span>
                    </li>
                    <li class="list-group-item text-secondary">
                      <i class="fas fa-th-large"></i> Година на строеж:
                      <span class="float-right">{{listing.year_of_construction|date:"Y"}} </span>
                    </li>
                    <li class="list-group-item text-secondary">
                      {% if options %}
                      <i class="fas fa-square"></i> Особености:
                        <ul>
                          {% for option in options %}
                              <li>{{ option }}</li>
                          {% endfor %}
                          {% endif %}
                        </ul>
                  </ul>
                </div>
          </div>

          <!-- Description -->
          <div class='scroll-animated' >
            <i class="fas fa-file-lines  text-secondary" ></i> <span class='text-secondary'>Описание:</span>
            <div class='col-md-12  mb-5' >
              {{listing.description}}
            </div>
          </div>
          
        </div>
        
        
        {% comment %} Realtor section {% endcomment %}
        <div  class="col-8 col-sm-6 col-md-4 col-lg-3 wow animate__animated animate__fadeInRight">
          <div class="card mb-3">
            <img class="card-img-top current-listing-img" src="{{listing.realtor.photo.url}}" alt="Seller of the month">
            <div class="card-body">
              <h5 class="card-title">Брокер</h5>
              <h6 class="text-secondary">{{listing.realtor}}</h6>
              <h6 class="text-primary">
                <a href="tel:+{{ listing.realtor.phone }}" class="text-primary">
                    +{{ listing.realtor.phone }}
                </a>
            </h6>
            </div>
          </div>
          <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Направи запитване</button>
        </div>

      </div>
    </div>
  </section>

  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Направи запитване</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'contact'%}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{user.id}}">
            {% else %}
              <input type="hidden" name="user_id" value="0">
            {% endif %}
            <input type="hidden" name="realtor_email" value="{{listing.realtor.email}}">
            <input type="hidden" name="listing_id" value="{{listing.id}}">
            <div class="form-group">
              <label for="property_name" class="col-form-label">Обява</label>
              <input type="text" name="listing" class="form-control" value="{{listing}}" readonly>
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Име:</label>
              <input type="text" name="name" class="form-control" 
              {% if user.is_authenticated %} 
              value="{{ user.first_name }} {{user.last_name}}" readonly
              {% endif %}
              required >
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Имейл:</label>
              <input type="email" name="email" class="form-control" 
              {% if user.is_authenticated %} readonly
              value="{{ user.email }}" 
              {% endif %}
              required >
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Телефон:</label>
              <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Съобщение:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Изпрати" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Listings -->
<section id="listings ">
    {% if similar_listings %}
    <div class="container">
      <h3 class="text-center mb-3 py-5 focus-in-expand">Подобни обяви</h3>
      <div class="row ">
        
        {% for listing in similar_listings %}
        <div class="col-md-6 col-lg-4 mb-4 scroll-animated">
          <a href="{% url 'current_listing' listing.id %}" class="card-link">
          <div class="card listing-preview ">
            {% with first_photo=listing.photos.all|first %}
            <img class="card-img-top" src="{% if listing.photo_main %}{{ listing.photo_main.url }}{% elif first_photo %}{{ first_photo.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}" alt="">
        {% endwith %}
           
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">{{listing.currency}} {{listing.price | intcomma }}</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary common-ellipsis">{% if listing.title %}
                  {{ listing.title }}
              {% else %}
             ID:
              {% if listing.estate_code %}
                {{ listing.estate_code }}
              {% else %}
                {{ listing.uid }}
              {% endif %}
              {% endif %}
            </h4>
                <p class='common-ellipsis'>
                  <i class="fas fa-map-marker text-secondary "></i> {{listing.state}}, {{listing.city}}</p>
              </div>
              <hr>
              <div class="row py-2 text-secondary">
                <div class="col-12">
                    <i class="fas fa-bed"></i> Тип: {{ listing.type_choice }}</div>
                <div class="col-12">
                    <i class="fas fa-th-large"></i> Площ: {{ listing.sqft }} m²</div>
            </div>

              <hr>
              <a href="{% url 'current_listing' listing.id %}" class="btn btn-primary btn-block">Повече информация</a>
            </div>
          </div></a>
        </div>
      {% endfor %}
      </div>
    </div> {% endif %}
  </section> 
  
{% endblock %}
