{% extends "base.html" %}
{% load humanize %}
{% load static%}
{% block title %}
| {{ listing.title }}
{% comment %} ID:{{listing.uid}} {% endcomment %}
{% endblock %}
{% block content %}
<style>
  /* Set a fixed height for the carousel */
  #propertyPhotosCarousel {
    max-height: 500px; /* You can adjust this value */
    overflow: hidden;
  }

  /* Ensure the images fit within the carousel height */
  #propertyPhotosCarousel .carousel-item img {
    max-height: 500px;
    object-fit: contain; /* Maintain aspect ratio while covering the area */
    width: 100%; /* Make the image take the full width */
  }
  /* Media query for mobile devices (screens smaller than 768px) */
  @media (max-width: 768px) {
    #propertyPhotosCarousel {
      max-height: 50vh; /* 70% of the viewport height on mobile */
    }

    #propertyPhotosCarousel .carousel-item img {
      max-height: 50vh; /* Limit image height to 70% of viewport height */
    }
  }
  
</style>
<section id="showcase-inner" class="py-5 text-white">
    <div class="container wow animate_fadeInup">
      <div class="row text-center wow animate__animated animate__fadeInUp">
        <div class="col-md-12">
          <h1 class="display-4">{{listing.title}}</h1> 
          <p class="lead">
            <i class="fas fa-map-marker"></i> {{listing.state}},{{listing.city}}</p>
        </div>
      </div>
    </div>
  </section>
<!--Alerts-->
{% include "partials/_alerts.html" %}
  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Начало</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'listings' %}">Обяви</a>
          </li>
          <li class="breadcrumb-item active ">{{listing.title}}  <i class="fa-solid fa-hashtag"></i>{{listing.uid}}</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="{% url 'listings' %}" class="btn btn-light mb-4">Обратно към обяви</a>
      <div class="row">
        <div class="col-md-9">
          <!-- Home Main Image -->
          {% comment %} {% with first_photo=listing.photos.all|first %}
          <img class="img-main img-fluid mb-3" src="{% if listing.photo_main %}{{ listing.photo_main.url }}{% elif first_photo %}{{ first_photo.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}" alt="">
      {% endwith %} {% endcomment %}
          {% comment %} <img src="{{ listing.photo_main.url }}" alt="" class="img-main img-fluid mb-3"> {% endcomment %}
          <!-- Thumbnails -->
         {% comment %} Photos start  {% endcomment %}
  {% comment %} <div class="row mb-5 thumbs"> {% endcomment %}
                                    <!-- Include the main photo as a thumbnail -->
                                  {% comment %} <div class="col-md-2">
                                    <a href="{{ listing.photo_main.url }}" data-lightbox="home-images">
                                      <img src="{{ listing.photo_main.url }}" alt="Main Thumbnail" class="img-fluid secondary-img">
                                    </a>
                                  </div> {% endcomment %}
   {% comment %} {% if listing.photos.all %}
            {% for photo in listing.photos.all %}
            <div class="col-md-2">
              <a href="{{ photo.image.url }}" data-lightbox="home-images">
                <img src="{{ photo.image.url }}" alt="" class="img-fluid secondary-img">
              </a>
            </div>
            {% endfor %}
            {% endif %} {% endcomment %}
                              {% comment %} <div class="col-md">
                                <h1 class="card-title">{{ listing.bedrooms }}-стаен </h1>
                                <h1 class="text-secondary"> {{ listing.price }}€</h1>
                              </div> {% endcomment %}
       {% comment %} </div> {% endcomment %}
        <!-- Carousel for listing.photos.all -->
<div id="propertyPhotosCarousel" class="carousel slide mb-5 wow animate__animated animate__fadeInLeft" data-ride="carousel">
  <!-- Carousel Indicators -->
  <ol class="carousel-indicators">
    {% for photo in listing.photos.all %}
      <li data-target="#propertyPhotosCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
    {% endfor %}
  </ol>

  <!-- Carousel Inner (Slides) -->
  <div class="carousel-inner">
    {% for photo in listing.photos.all %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <img class="d-block w-100" src="{{ photo.image.url }}" alt="Slide {{ forloop.counter }}">
    </div>
    {% endfor %}
  </div>

  <!-- Carousel Controls -->
  <a class="carousel-control-prev" href="#propertyPhotosCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#propertyPhotosCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
          <!-- Fields -->
          <div class="row mb-5 fields scroll-animated">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-money-bill-alt"></i> Цена:
                  <span class="float-right">{{listing.currency}} {{listing.price | intcomma}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bed"></i> Tun:
                  <span class="float-right">{{listing.type_choice}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fa-solid fa-bathtub"></i> Бани:
                  <span class="float-right">{{listing.bathrooms}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fa-solid fa-toilet"></i> Tоалетни:
                  <span class="float-right">{{listing.toilet}}</span>
                </li>
                {% comment %} <li class="list-group-item text-secondary">
                  <i class="fas fa-car"></i> Гараж:
                  <span class="float-right">{{listing.garage}}
                  </span>
                </li> {% endcomment %}
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Площ:
                  <span class="float-right">{{listing.sqft}} m²</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fa-solid fa-hashtag"></i> ID на имота:
                  <span class="float-right">{{listing.uid}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Година на строеж:
                  <span class="float-right">{{listing.year_of_construction}} </span>
                </li>
                <li class="list-group-item text-secondary">
                  {% if options %}
                  <i class="fas fa-square"></i> Особености:
                  {% comment %} <span class="float-right">{{options}}  {% endcomment %}
                    <ul>
                    {% for option in options %}
                        <li>{{ option }}</li>
                    {% comment %} {% empty %}
                        <li>No options available.</li> {% endcomment %}
                    {% endfor %}
                    {% endif %}
                </ul>
                  </span>
                </li>
                {% comment %} <li class="list-group-item text-secondary">
                  <i class="fas fa-calendar"></i> Публикувана:
                  <span class="float-right">{{listing.list_date}}</span>
                </li> {% endcomment %}
                {% comment %} <li class="list-group-item text-secondary ">
                  <i class="fas fa-bed"></i> Брокер:
                  <span class="float-right">{{listing.realtor}}
                  </span>
                </li>  {% endcomment %}


              </ul>
            </div>
          </div>

          <!-- Description -->
           <div class='scroll-animated' >
            <i class="fas fa-file-lines  text-secondary" ></i> <span class='text-secondary'>Описание:</span>
            <div class='col-md-12 ' >
              {{listing.description}}
            </div>
          </div>
          
        </div>
        <div  class="col-12 col-sm-6 col-md-4 col-lg-3 wow animate__animated animate__fadeInRight">
          <div class="card mb-3">
            <img class="card-img-top current-listing-img" src="{{listing.realtor.photo.url}}" alt="Seller of the month">
            <div class="card-body">
              <h5 class="card-title">Брокер</h5>
              <h6 class="text-secondary">{{listing.realtor}}</h6>
              <h6 class="text-primary">+{{listing.realtor.phone}}</h6>
            </div>
          </div>
          <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Направи запитване</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Inquiry Modal -->
  <div class="modal fade" id="inquiryModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Направи запитване</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'contact'%}" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" value="{{user.id}}">
            {% else %}
              <input type="hidden" name="user_id" value="0">
            {% endif %}
            <input type="hidden" name="realtor_email" value="{{listing.realtor.email}}">
            <input type="hidden" name="listing_id" value="{{listing.id}}">
            <div class="form-group">
              <label for="property_name" class="col-form-label">Обява</label>
              <input type="text" name="listing" class="form-control" value="{{listing.title}} ID:{{listing.uid}}" readonly>
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Име:</label>
              <input type="text" name="name" class="form-control" 
              {% if user.is_authenticated %} 
              value="{{ user.first_name }} {{user.last_name}}" readonly
              {% endif %}
              required >
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Имейл:</label>
              <input type="email" name="email" class="form-control" 
              {% if user.is_authenticated %} readonly
              value="{{ user.email }}" 
              {% endif %}
              required >
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Телефон:</label>
              <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Съобщение:</label>
              <textarea name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Изпрати" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}