{% extends "base.html" %}
{% load static%}
{% load humanize %}
{% block title %}
| Политика за защита на личните данни
{% endblock %}
{% block content %}
<style>
    h1,h2,h3,h4 {
        color: #356148;
    }
</style> 
<div class='py-5' style='margin-left: auto; margin-right: auto;width: 80%; '>
<h1 class='text-center'>Политика за защита на личните данни</h1>

<h2>Задължителна информация за правата на лицата по защита на личните данни (Privacy Policy)</h2>

<p><strong>Обща информация</strong></p>
<p>От 25 май 2018г. влиза в сила нов регламент за защита на личните данни (General Data Protection Regulation), приет от Европейския съюз. Регламентът има за цел да гарантира защитата на данните на физическите лица от всички държави членки на ЕС и да уеднакви регулациите за тяхната обработка.</p>

<p>В качеството си на администратор на лични данни "Грийн Хоум Инвест" ООД, отговаря на всички изисквания на новата регулация, като събира единствено данни на лицата дотолкова, доколкото са необходими за предоставянето на услугата, и ги пази отговорно и законосъобразно.</p>

<h3>Информация относно Администратора на лични данни</h3>
<ul>
    <li>Наименование: "Грийн Хоум Инвест" ООД</li>
    <li>ЕИК/БУЛСТАТ: BG206994584</li>
    <li>Седалище и адрес на управление: гр. Варна, ул. Васил Ставрев 2, вх. Б, ет. 3</li>
    <li>Данни за кореспонденция: гр. Варна, ул. Васил Ставрев 2, вх. Б, ет. 3</li>
    <li>E-mail: <a href="mailto:greenhomeinvestltd@gmail.com">greenhomeinvestltd@gmail.com</a></li>
</ul>

<h3>Информация относно компетентния надзорен орган</h3>
<ul>
    <li>Наименование: Комисия за защита на личните данни</li>
    <li>Седалище и адрес на управление: гр. София 1592, бул. „Проф. Цветан Лазаров” № 2</li>
    <li>Данни за кореспонденция: гр. София 1592, бул. „Проф. Цветан Лазаров” № 2</li>
    <li>Телефон: 02 915 3 518</li>
    <li>Email: <a href="mailto:kzld@government.bg">kzld@government.bg</a>, <a href="mailto:kzld@cpdp.bg">kzld@cpdp.bg</a></li>
    <li>Уеб сайт: <a href="http://www.cpdp.bg" target="_blank">www.cpdp.bg</a></li>
</ul>

<p><strong>"Грийн Хоум Инвест" ООД</strong> осъществява дейността си в съответствие със Закона за защита на личните данни и Регламент (ЕС) 2016/679 на Европейския парламент и на Съвета от 27 април 2016 година относно защитата на физическите лица във връзка с обработването на лични данни и относно свободното движение на такива данни.</p>

<h3>Основание за събиране, обработване и съхраняване на Вашите лични данни</h3>
<p>Чл. 1. (1) "Грийн Хоум Инвест" ООД събира и обработва Вашите лични данни във връзка с предоставянето на услуги въз основа на следното:</p>
<ul>
    <li>Изпълнение на задълженията на "Грийн Хоум Инвест" ООД по договор с Вас;</li>
    <li>Изрично получено съгласие от Вас при запитване чрез сайта на “Грийн Хоум Инвест” ООД <a href="http://www.greenhomebg.com" target="_blank">www.greenhomebg.com</a>;</li>
    <li>За целите на легитимния интерес на "Грийн Хоум Инвест" ООД.</li>
</ul>

<h3>Цели и принципи при събирането, обработването и съхраняването на Вашите лични данни</h3>
<p>Чл. 2. (1) "Грийн Хоум Инвест" ООД събира и обработва личните данни, които Вие ни предоставяте във връзка с използването на нашите услуги и за сключване на договор с дружеството, както и за запитване чрез сайта на “Грийн Хоум Инвест” ООД, включително за следните цели:</p>
<ul>
    <li>Индивидуализация на страна по договора;</li>
    <li>Счетоводни цели;</li>
    <li>Защита на информационната сигурност;</li>
    <li>Обезпечаване на изпълнението на договора за предоставяне на съответната услуга;</li>
</ul>

<p>(2) "Грийн Хоум Инвест" ООД спазва следните принципи при обработката на Вашите лични данни:</p>
<ul>
    <li>Законосъобразност, добросъвестност и прозрачност;</li>
    <li>Ограничение на целите на обработване;</li>
    <li>Съотносимост с целите на обработката и свеждане до минимум на събираните данни;</li>
    <li>Точност и актуалност на данните;</li>
    <li>Ограничение на съхранението с оглед постигане на целите;</li>
    <li>Цялостност и поверителност на обработването и гарантиране на подходящо ниво на сигурност на личните данни.</li>
</ul>

<p>(3) При обработването и съхранението на личните данни, "Грийн Хоум Инвест" ООД може да обработва и съхранява личните данни с цел защита на следните си легитимни интереси:</p>
<ul>
    <li>Изпълнение на задълженията си към Национална агенция по приходите, Министерство на вътрешните работи и други държавни и общински органи.</li>
</ul>

<h3>Какви видове лични данни събира, обработва и съхранява "Грийн Хоум Инвест" ООД?</h3>
<p>Чл. 3. (1) "Грийн Хоум Инвест" ООД извършва следните операции с личните данни за следните цели:</p>
<ul>
    <li>Сключване и изпълнение на търговска сделка с клиент или партньор</li>
</ul>

<p>(2) "Грийн Хоум Инвест" ООД обработва следните категории лични данни и информация за следните цели и на следните основания:</p>
<ul>
    <li>Данни: Ваши индивидуализиращи данни: Имена по лична карта, ЕГН, телефонен номер, адрес на постоянен и/или настоящ адрес, е-mail, данни за Вашата банкова сметка, данни относно платените данъци;</li>
    <li>Цел на обработването: Задоволяване на нуждите на клиента от предоставянето на конкретната услуга, включително за издаване на фактури, за събиране на плащания и за кореспонденция с клиента;</li>
    <li>Основание за обработването: Изпълнение на задължения по договора или при предоставяне на услуги, и при запитване чрез сайта на “Грийн Хоум Инвест” ООД;</li>
</ul>

<p>Чл. 2. (1) Ваши данни за издаването на фактура на физическо лице – Ако желаете да Ви бъде издадена фактура в качеството Ви на физическо лице, следва да предоставите своя единен граждански номер.</p>
<p>○ Цел, за която се събират данните: Издаване на фактура за извършване на плащания по сключен договор за предоставяне на услуги.</p>
<p>○ Основание за обработка на личните Ви данни – При сключването на писмен договор, между "Грийн Хоум Инвест" ООД и Вас се създава договорно отношение, на което основание обработваме Вашите лични данни – чл. 6, ал. 1, б. (б) GDPR.</p>

<p>Чл. 3. "Грийн Хоум Инвест" ООД не събира и не обработва лични данни, които се отнасят за следното:</p>
<ul>
    <li>Разкриват расов или етнически произход;</li>
    <li>Разкриват политически, религиозни или философски убеждения, или членство в синдикални организации;</li>
    <li>Генетични и биометрични данни, данни за здравословното състояние или данни за сексуалния живот или сексуалната ориентация.</li>
</ul>

<p>Чл. 4. (1) Личните данни са събрани от "Грийн Хоум Инвест" ООД от лицата, за които се отнасят.</p>
<p>(2) Дружеството не извършва автоматизирано взимане на решения с данни.</p>

<h3>Срок на съхранение на личните Ви данни</h3>
<p>Чл. 5. (1) "Грийн Хоум Инвест" ООД съхранява Вашите лични данни за срок не по-дълъг от изискванията на приложимото законодателство за съответния предвиден срок. След изтичането на този срок, "Грийн Хоум Инвест" ООД полага необходимите грижи да изтрие и унищожи всички Ваши данни, без ненужно забавяне.</p>
<p>(2) "Грийн Хоум Инвест" ООД Ви уведомява, в случай, че срокът за съхранение на данните е необходимо да бъде удължен с оглед изпълнение на целите, изпълнение на договора, с оглед легитимни интереси на "Грийн Хоум Инвест" ООД или друго.</p>

<h3>Предаване на вашите лични данни за обработване</h3>
<p>Чл. 6. (1) "Грийн Хоум Инвест" ООД може по собствена преценка да предава част или всички Ваши лични данни на обработващи лични данни за изпълнението на целите за обработване при спазване на изискванията на Регламент (ЕС) 2016/679.</p>
<p>(2) "Грийн Хоум Инвест" ООД Ви уведомява в случай на намерение да предаде част или всички Ваши лични данни на трети държави или международни организации.</p>

<h3>Вашите права при събирането, обработването и съхранението на личните ви данни</h3>

<h4>Оттегляне на съгласието за обработване на личните Ви данни</h4>
<p>Чл. 7. (1) Ако не желаете всички или част от Вашите лични данни да продължат да бъдат обработвани от "Грийн Хоум Инвест" ООД за конкретна или за всички цели на обработване, Вие можете по всяко време да оттеглите съгласието си за обработка чрез попълване на онлайн формуляр или чрез искане в свободен текст.</p>
<p>(2) "Грийн Хоум Инвест" ООД може да поиска да удостоверите своята самоличност и идентичност с лицето, за което се отнасят данните.</p>

<h4>Право на достъп</h4>
<p>Чл. 8. (1) Вие имате право да изискате и получите от "Грийн Хоум Инвест" ООД потвърждение дали се обработват лични данни, свързани с Вас.</p>
<p>(2) Вие имате право да получите достъп до данните, свързани с него, както и до информацията, отнасяща се до събирането, обработването и съхранението на личните Ви данни.</p>
<p>(3) "Грийн Хоум Инвест" ООД Ви предоставя при поискване, копие от обработваните лични данни, свързани с Вас, в електронна или друга подходяща форма.</p>
<p>(4) Предоставянето на достъп до данните е безплатно, но "Грийн Хоум Инвест" ООД си запазва правото да наложи административна такса, в случай на повторяемост или прекомерност на исканията.</p>

<h4>Право на коригиране или попълване</h4>
<p>Чл. 9. Вие можете да коригирате или попълните неточните или непълните лични данни, свързани с Вас с отправяне на искане до "Грийн Хоум Инвест" ООД.</p>

<h4>Право на изтриване („да бъдеш забравен“)</h4>
<p>Чл. 10. (1) Вие имате правото да поискате от "Грийн Хоум Инвест" ООД изтриване на свързаните с Вас лични данни, а "Грийн Хоум Инвест" ООД има задължението да ги изтрие без ненужно забавяне, когато е налице някое от посочените по-долу основания:</p>
<ul>
    <li>Личните данни повече не са необходими за целите, за които са били събрани или обработвани по друг начин;</li>
    <li>Вие оттеглите своето съгласие, върху което се основава обработването на данните и няма друго правно основание за обработването;</li>
    <li>Вие възразите срещу обработването на свързаните с Вас лични данни, включително за целите на директния маркетинг и няма законни основания за обработването, които да имат преимущество;</li>
    <li>Личните данни са били обработвани незаконосъобразно;</li>
    <li>Личните данни трябва да бъдат изтрити с цел спазването на правно задължение по правото на ЕС или правото на държава членка, което се прилага спрямо "Грийн Хоум Инвест" ООД;</li>
    <li>Личните данни са били събрани във връзка с предлагането на услуги на информационното общество.</li>
</ul>
<p>(2) "Грийн Хоум Инвест" ООД не е длъжен да изтрие личните данни, ако ги съхранява и обработва:</p>
<ul>
    <li>За упражняване на правото на свобода на изразяването и правото на информация;</li>
    <li>За спазване на правно задължение, което изисква обработване, предвидено в правото на ЕС или правото на държавата членка, което се прилага спрямо Администратора или за изпълнението на задача от обществен интерес или при упражняването на официални правомощия, които са му предоставени;</li>
    <li>По причини от обществен интерес в областта на общественото здраве;</li>
    <li>За целите на архивирането в обществен интерес, за научни или исторически изследвания или за статистически цели;</li>
    <li>За установяването, упражняването или защитата на правни претенции.</li>
</ul>
<p>(3) За да упражните правото си на „забравяне“, Вие следва да подадете писмено искане, изпратено до "Грийн Хоум Инвест" ООД, както и да удостоверите своята самоличност и идентичност с лицето, за което се отнасят данните, като представите на място своята лична карта за целите на идентификация.</p>
<p>(4) "Грийн Хоум Инвест" ООД не изтрива данните, които има законово задължение да съхранява, включително за защита по повод отправени срещу него съдебни претенции или доказване на свои права.</p>

<h4>Право на ограничаване</h4>
<p>Чл. 11. Вие имате право да изискате от "Грийн Хоум Инвест" ООД да ограничи обработването на свързаните с Вас данни, когато:</p>
<ul>
    <li>Оспорите точността на личните данни, за срок, който позволява на "Грийн Хоум Инвест" ООД да провери точността на личните данни;</li>
    <li>Обработването е неправомерно, но Вие не желаете личните Ви данни да бъдат изтрити, а само използването им да бъде ограничено;</li>
    <li>"Грийн Хоум Инвест" ООД не се нуждае повече от личните данни за целите на обработването, но Вие ги изисквате за установяването, упражняването или защитата на свои правни претенции;</li>
    <li>Възразили сте срещу обработването в очакване на проверка дали законните основания на "Грийн Хоум Инвест" ООД имат преимущество пред Вашите интереси.</li>
</ul>

<h4>Право на преносимост</h4>
<p>Чл. 12. (1) Вие можете по всяко време да изтеглите данните, които се съхраняват и обработват за Вас във връзка с използване на услугите на "Грийн Хоум Инвест" ООД, с искане по имейл.</p>
<p>(2) Вие можете да поискате от "Грийн Хоум Инвест" ООД директно да прехвърли Вашите лични данни към посочен от Вас администратор, когато това е технически осъществимо.</p>

<h4>Право на получаване на информация</h4>
<p>Чл. 13. Вие можете да поискате от "Грийн Хоум Инвест" ООД да Ви информира относно всички получатели, на които личните данни, за които е поискано коригиране, изтриване или ограничаване на обработването, са били разкрити. "Грийн Хоум Инвест" ООД може да откаже да предостави тази информация, ако това би било невъзможно или изисква несъразмерно големи усилия.</p>

<h4>Право на възражение</h4>
<p>Чл. 14. Вие можете да възразите по всяко време срещу обработването на лични данни от "Грийн Хоум Инвест" ООД, които се отнасят до Вас, включително ако се обработват за целите на профилиране или директен маркетинг.</p>

<h3>Вашите права при нарушение на сигурността на личните ви данни</h3>
<p>Чл. 15. (1) Ако "Грийн Хоум Инвест" ООД установи нарушение на сигурността на личните Ви данни, което може да породи висок риск за Вашите права и свободи, ние Ви уведомяваме без ненужно забавяне за нарушението, както и за мерките, които са предприети или предстои да бъдат предприети.</p>
<p>(2) "Грийн Хоум Инвест" ООД не е длъжен да Ви уведомява, ако:</p>
<ul>
    <li>Е предприел подходящи технически и организационни мерки за защита по отношение на данните, засегнати от нарушението на сигурността;</li>
    <li>Е взел впоследствие мерки, които гарантират, че нарушението няма да доведе до висок риск за правата Ви;</li>
    <li>Уведомяването би изисквало непропорционални усилия.</li>
</ul>

<h3>Лица, на които се предоставят личните ви данни</h3>
<p>Чл. 16. Администраторът не извършва трансфер на вашите данни към трети държави.</p>

<h3>Други разпоредби</h3>
<p>Чл. 17. В случай на нарушаване на правата Ви съгласно горепосоченото или приложимото законодателство за защита на личните данни, имате право да подадете жалба до Комисията за защита на личните данни, както следва:</p>
<ul>
    <li>Наименование: Комисия за защита на личните данни</li>
    <li>Седалище и адрес на управление: гр. София 1592, бул. „Проф. Цветан Лазаров” № 2</li>
    <li>Данни за кореспонденция: гр. София 1592, бул. „Проф. Цветан Лазаров” № 2</li>
    <li>Телефон: <a href="tel:+0209153518">02 915 3 518</a></li>
    <li>Email: <a href="mailto:kzld@government.bg">kzld@government.bg</a>, <a href="mailto:kzld@cpdp.bg">kzld@cpdp.bg</a></li>
    <li>Уеб сайт: <a href="http://www.cpdp.bg" target="_blank">www.cpdp.bg</a></li>
</ul>
</ul>
<p>Чл. 18. Можете да упражните всичките си права относно защита на Вашите лични данни чрез формите, приложени към настоящата информация. Разбира се, тези форми не са задължителни и можете да отправите исканията си във всякаква форма, която съдържа изявление за това и ви идентифицира като притежател на данните.</p>
<p>Чл. 19. Ако съгласието се отнася за трансфер, Администраторът описва възможните рискове за трансфера на данните към трети държави при липсата на решение за адекватна защита и подходящи средства за защита.</p>

</div>
    
{% endblock %}