<html>
<body>
    <h2>Запитване за имот от Брокер: {{ realtor_name }}</h2>
    <p><strong>Имот:</strong> {{ listing_title }} ID: {{listing_id}}</p>
    <p> <strong>Адрес:</strong> {{ listing_address }}</p>
    <hr>
    <h3>Детайли на запитването:</h3>
    <ul>
        <li><strong>Име:</strong> {{ name }}</li>
        <li><strong>Имейл:</strong> {{ email }}</li>
        <li><strong>Телефон:</strong> {{ phone }}</li>
        <li><strong>Съобщение:</strong> {{ message }}</li>
    </ul>
    <hr>
    <p>Влезте в административния панел за повече информация.</p>
</body>
</html>